# Data Cleaning for Regular Stats

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nba_games.csv')

### Read Data

In [3]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,LAC,LAC @ BOS,02/13/2020,NaN,L,58,133,46,110,...,81.1,14,41,55,19,16,4,10,31,-8
1,1,NOP,NOP vs. OKC,02/13/2020,NaN,L,48,118,42,86,...,74.1,8,38,46,31,17,3,7,20,-5
2,2,BOS,BOS vs. LAC,02/13/2020,NaN,W,58,141,45,103,...,82.5,7,44,51,22,15,9,6,28,8
3,3,OKC,OKC @ NOP,02/13/2020,NaN,W,48,123,46,92,...,81.8,5,35,40,28,9,11,5,21,5
4,4,ATL,ATL @ CLE,02/12/2020,NaN,L,48,105,36,84,...,80.0,9,29,38,24,17,11,5,26,-22

In [4]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,LAC,LAC @ BOS,02/13/2020,NaN,L,58,133,46,110,...,81.1,14,41,55,19,16,4,10,31,-8
1,1,NOP,NOP vs. OKC,02/13/2020,NaN,L,48,118,42,86,...,74.1,8,38,46,31,17,3,7,20,-5
2,2,BOS,BOS vs. LAC,02/13/2020,NaN,W,58,141,45,103,...,82.5,7,44,51,22,15,9,6,28,8
3,3,OKC,OKC @ NOP,02/13/2020,NaN,W,48,123,46,92,...,81.8,5,35,40,28,9,11,5,21,5
4,4,ATL,ATL @ CLE,02/12/2020,NaN,L,48,105,36,84,...,80.0,9,29,38,24,17,11,5,26,-22

In [5]:
df['Team1'] = df['Match\xa0Up'].str.split().apply(lambda x: x[0])
df['Team2'] = df['Match\xa0Up'].str.split().apply(lambda x: x[2])

(df['Team'] == df['Team1']).all()

True

In [6]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Team1,Team2
0,0,LAC,LAC @ BOS,02/13/2020,NaN,L,58,133,46,110,...,41,55,19,16,4,10,31,-8,LAC,BOS
1,1,NOP,NOP vs. OKC,02/13/2020,NaN,L,48,118,42,86,...,38,46,31,17,3,7,20,-5,NOP,OKC
2,2,BOS,BOS vs. LAC,02/13/2020,NaN,W,58,141,45,103,...,44,51,22,15,9,6,28,8,BOS,LAC
3,3,OKC,OKC @ NOP,02/13/2020,NaN,W,48,123,46,92,...,35,40,28,9,11,5,21,5,OKC,NOP
4,4,ATL,ATL @ CLE,02/12/2020,NaN,L,48,105,36,84,...,29,38,24,17,11,5,26,-22,ATL,CLE

In [ ]:
for
if df['Game Date'] 
df['PA'] =

In [7]:
df.columns

Index(['Unnamed: 0', 'Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN',
       'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
       'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-', 'Team1',
       'Team2'],
      dtype='object')

### Drop Unnecessary or Unused Information

In [8]:
df.drop(['Unnamed: 0','Season','Match\xa0Up','Game\xa0Date','W/L','MIN'], axis = 1,inplace = True)

In [9]:
df.columns

Index(['Team', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA',
       'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-',
       'Team1', 'Team2'],
      dtype='object')

In [10]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Team1,Team2
0,LAC,133,46,110,41.8,11,35,31.4,30,37,...,41,55,19,16,4,10,31,-8,LAC,BOS
1,NOP,118,42,86,48.8,14,35,40.0,20,27,...,38,46,31,17,3,7,20,-5,NOP,OKC
2,BOS,141,45,103,43.7,18,43,41.9,33,40,...,44,51,22,15,9,6,28,8,BOS,LAC
3,OKC,123,46,92,50.0,13,27,48.1,18,22,...,35,40,28,9,11,5,21,5,OKC,NOP
4,ATL,105,36,84,42.9,13,34,38.2,20,25,...,29,38,24,17,11,5,26,-22,ATL,CLE

In [11]:
df.groupby('Team')

In [12]:
df

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Team1,Team2
0,LAC,133,46,110,41.8,11,35,31.4,30,37,...,41,55,19,16,4,10,31,-8,LAC,BOS
1,NOP,118,42,86,48.8,14,35,40.0,20,27,...,38,46,31,17,3,7,20,-5,NOP,OKC
2,BOS,141,45,103,43.7,18,43,41.9,33,40,...,44,51,22,15,9,6,28,8,BOS,LAC
3,OKC,123,46,92,50.0,13,27,48.1,18,22,...,35,40,28,9,11,5,21,5,OKC,NOP
4,ATL,105,36,84,42.9,13,34,38.2,20,25,...,29,38,24,17,11,5,26,-22,ATL,CLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,CHI,125,49,105,46.7,9,30,30.0,18,22,...,29,49,25,12,11,4,20,-1,CHI,CHA
1632,LAC,112,42,81,51.9,11,31,35.5,17,24,...,34,45,24,14,8,5,25,10,LAC,LAL
1633,NOP,122,43,102,42.2,19,45,42.2,17,20,...,37,53,30,19,4,9,34,-8,NOP,TOR
1634,LAL,102,37,85,43.5,13,33,39.4,15,21,...,32,41,20,15,4,7,24,-10,LAL,LAC
1635,TOR,130,42,103,40.8,14,40,35.0,32,38,...,41,57,23,17,7,3,24,8,TOR,NOP

### Set Target for Spreads

In [13]:
df['win_target'] = df['+/-'] > 0
df['3_win_target'] = df['+/-'] > 3
df['5_win_target'] = df['+/-'] > 5
df['7_win_target'] = df['+/-'] > 7
df['10_win_target'] = df['+/-'] > 10

In [14]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,BLK,PF,+/-,Team1,Team2,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,LAC,133,46,110,41.8,11,35,31.4,30,37,...,10,31,-8,LAC,BOS,False,False,False,False,False
1,NOP,118,42,86,48.8,14,35,40.0,20,27,...,7,20,-5,NOP,OKC,False,False,False,False,False
2,BOS,141,45,103,43.7,18,43,41.9,33,40,...,6,28,8,BOS,LAC,True,True,True,True,False
3,OKC,123,46,92,50.0,13,27,48.1,18,22,...,5,21,5,OKC,NOP,True,True,False,False,False
4,ATL,105,36,84,42.9,13,34,38.2,20,25,...,5,26,-22,ATL,CLE,False,False,False,False,False

In [15]:
df.drop(['+/-'],axis = 1,inplace=True)

In [16]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,STL,BLK,PF,Team1,Team2,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,LAC,133,46,110,41.8,11,35,31.4,30,37,...,4,10,31,LAC,BOS,False,False,False,False,False
1,NOP,118,42,86,48.8,14,35,40.0,20,27,...,3,7,20,NOP,OKC,False,False,False,False,False
2,BOS,141,45,103,43.7,18,43,41.9,33,40,...,9,6,28,BOS,LAC,True,True,True,True,False
3,OKC,123,46,92,50.0,13,27,48.1,18,22,...,11,5,21,OKC,NOP,True,True,False,False,False
4,ATL,105,36,84,42.9,13,34,38.2,20,25,...,11,5,26,ATL,CLE,False,False,False,False,False

### Create Cleaning Function Following Same Steps

In [17]:
def clean_data(csv_file):
    df = pd.read_csv(csv_file)
    
    #set teams
    df['Team1'] = df['Match\xa0Up'].str.split().apply(lambda x: x[0])
    df['Team2'] = df['Match\xa0Up'].str.split().apply(lambda x: x[2])
    
    #delete unused columns
    df.drop(['Unnamed: 0','Season','Match\xa0Up','Game\xa0Date','W/L','MIN'], axis = 1,inplace = True)
    
    #set targets
    df['win_target'] = df['+/-'] > 0
    df['3_win_target'] = df['+/-'] > 3
    df['5_win_target'] = df['+/-'] > 5
    df['7_win_target'] = df['+/-'] > 7
    df['10_win_target'] = df['+/-'] > 10
    
    #drop last unused column
    df.drop(['+/-'],axis = 1,inplace=True)
    
    return df

In [18]:
clean_df = clean_data('nba_games.csv')

In [19]:
clean_df

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,STL,BLK,PF,Team1,Team2,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,LAC,133,46,110,41.8,11,35,31.4,30,37,...,4,10,31,LAC,BOS,False,False,False,False,False
1,NOP,118,42,86,48.8,14,35,40.0,20,27,...,3,7,20,NOP,OKC,False,False,False,False,False
2,BOS,141,45,103,43.7,18,43,41.9,33,40,...,9,6,28,BOS,LAC,True,True,True,True,False
3,OKC,123,46,92,50.0,13,27,48.1,18,22,...,11,5,21,OKC,NOP,True,True,False,False,False
4,ATL,105,36,84,42.9,13,34,38.2,20,25,...,11,5,26,ATL,CLE,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,CHI,125,49,105,46.7,9,30,30.0,18,22,...,11,4,20,CHI,CHA,False,False,False,False,False
1632,LAC,112,42,81,51.9,11,31,35.5,17,24,...,8,5,25,LAC,LAL,True,True,True,True,False
1633,NOP,122,43,102,42.2,19,45,42.2,17,20,...,4,9,34,NOP,TOR,False,False,False,False,False
1634,LAL,102,37,85,43.5,13,33,39.4,15,21,...,4,7,24,LAL,LAC,False,False,False,False,False
1635,TOR,130,42,103,40.8,14,40,35.0,32,38,...,7,3,24,TOR,NOP,True,True,True,True,False

In [20]:
clean_df.to_csv('clean_nba_games.csv')