# Data Cleaning for Regular Stats

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nba_games.csv')

### Read Data

In [99]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,MEM,MEM vs. DET,02/03/2020,NaN,W,48,96,42,90,...,83.3,7,40,47,27,11,6,12,18,14
1,1,DEN,DEN vs. IND,01/19/2020,NaN,L,48,107,41,88,...,68.8,12,32,44,22,9,10,4,19,-8
2,2,GSW,GSW @ MIN,01/02/2020,NaN,L,48,84,33,77,...,71.4,7,36,43,20,17,9,1,20,-15
3,3,NOP,NOP @ DAL,12/07/2019,NaN,L,48,84,32,89,...,81.0,8,26,34,17,15,4,2,23,-46
4,4,GSW,GSW @ ATL,12/02/2019,NaN,L,48,79,33,83,...,83.3,18,28,46,17,25,11,8,20,-25

In [102]:
df.head()

,Unnamed: 0,Team,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Match Up
0,0,MEM,02/03/2020,NaN,W,48,96,42,90,46.7,...,7,40,47,27,11,6,12,18,14,MEM vs. DET
1,1,DEN,01/19/2020,NaN,L,48,107,41,88,46.6,...,12,32,44,22,9,10,4,19,-8,DEN vs. IND
2,2,GSW,01/02/2020,NaN,L,48,84,33,77,42.9,...,7,36,43,20,17,9,1,20,-15,GSW @ MIN
3,3,NOP,12/07/2019,NaN,L,48,84,32,89,36.0,...,8,26,34,17,15,4,2,23,-46,NOP @ DAL
4,4,GSW,12/02/2019,NaN,L,48,79,33,83,39.8,...,18,28,46,17,25,11,8,20,-25,GSW @ ATL

In [112]:
df['Team1'] = df['Match\xa0Up'].str.split().apply(lambda x: x[0])
df['Team2'] = df['Match\xa0Up'].str.split().apply(lambda x: x[2])

(df['Team'] == df['Team1']).all()

True

In [113]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Team1,Team2
0,0,MEM,MEM vs. DET,02/03/2020,NaN,W,48,96,42,90,...,40,47,27,11,6,12,18,14,MEM,DET
1,1,DEN,DEN vs. IND,01/19/2020,NaN,L,48,107,41,88,...,32,44,22,9,10,4,19,-8,DEN,IND
2,2,GSW,GSW @ MIN,01/02/2020,NaN,L,48,84,33,77,...,36,43,20,17,9,1,20,-15,GSW,MIN
3,3,NOP,NOP @ DAL,12/07/2019,NaN,L,48,84,32,89,...,26,34,17,15,4,2,23,-46,NOP,DAL
4,4,GSW,GSW @ ATL,12/02/2019,NaN,L,48,79,33,83,...,28,46,17,25,11,8,20,-25,GSW,ATL

In [75]:
df.columns

Index(['Unnamed: 0', 'Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN',
       'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
       'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-'],
      dtype='object')

### Drop Unnecessary or Unused Information

In [6]:
df.drop(['Unnamed: 0','Season','Match\xa0Up','Game\xa0Date','W/L','MIN'], axis = 1,inplace = True)

In [79]:
df.columns

Index(['Team', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA',
       'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-'],
      dtype='object')

In [80]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,MEM,96,42,90,46.7,2,17,11.8,10,12,83.3,7,40,47,27,11,6,12,18,14
1,DEN,107,41,88,46.6,3,23,13.0,22,32,68.8,12,32,44,22,9,10,4,19,-8
2,GSW,84,33,77,42.9,3,20,15.0,15,21,71.4,7,36,43,20,17,9,1,20,-15
3,NOP,84,32,89,36.0,3,32,9.4,17,21,81.0,8,26,34,17,15,4,2,23,-46
4,GSW,79,33,83,39.8,3,17,17.6,10,12,83.3,18,28,46,17,25,11,8,20,-25

In [7]:
df.groupby('Team')

In [8]:
df

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,MEM,96,42,90,46.7,2,17,11.8,10,12,83.3,7,40,47,27,11,6,12,18,14
1,DEN,107,41,88,46.6,3,23,13.0,22,32,68.8,12,32,44,22,9,10,4,19,-8
2,GSW,84,33,77,42.9,3,20,15.0,15,21,71.4,7,36,43,20,17,9,1,20,-15
3,NOP,84,32,89,36.0,3,32,9.4,17,21,81.0,8,26,34,17,15,4,2,23,-46
4,GSW,79,33,83,39.8,3,17,17.6,10,12,83.3,18,28,46,17,25,11,8,20,-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,HOU,159,55,103,53.4,23,54,42.6,26,33,78.8,19,25,44,34,13,10,5,24,1
1530,CHA,126,45,88,51.1,23,44,52.3,13,16,81.3,9,32,41,28,19,3,4,18,1
1531,LAC,128,45,89,50.6,24,54,44.4,14,19,73.7,8,43,51,35,14,6,5,21,17
1532,DAL,141,48,92,52.2,24,51,47.1,21,21,100.0,9,37,46,35,13,11,7,17,20
1533,HOU,158,52,89,58.4,25,51,49.0,29,34,85.3,13,39,52,30,15,9,2,23,47

### Set Target for Spreads

In [81]:
df['win_target'] = df['+/-'] > 0
df['3_win_target'] = df['+/-'] > 3
df['5_win_target'] = df['+/-'] > 5
df['7_win_target'] = df['+/-'] > 7
df['10_win_target'] = df['+/-'] > 10

In [82]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,TOV,STL,BLK,PF,+/-,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,MEM,96,42,90,46.7,2,17,11.8,10,12,...,11,6,12,18,14,True,True,True,True,True
1,DEN,107,41,88,46.6,3,23,13.0,22,32,...,9,10,4,19,-8,False,False,False,False,False
2,GSW,84,33,77,42.9,3,20,15.0,15,21,...,17,9,1,20,-15,False,False,False,False,False
3,NOP,84,32,89,36.0,3,32,9.4,17,21,...,15,4,2,23,-46,False,False,False,False,False
4,GSW,79,33,83,39.8,3,17,17.6,10,12,...,25,11,8,20,-25,False,False,False,False,False

In [84]:
df.drop(['+/-'],axis = 1,inplace=True)

In [85]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,AST,TOV,STL,BLK,PF,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,MEM,96,42,90,46.7,2,17,11.8,10,12,...,27,11,6,12,18,True,True,True,True,True
1,DEN,107,41,88,46.6,3,23,13.0,22,32,...,22,9,10,4,19,False,False,False,False,False
2,GSW,84,33,77,42.9,3,20,15.0,15,21,...,20,17,9,1,20,False,False,False,False,False
3,NOP,84,32,89,36.0,3,32,9.4,17,21,...,17,15,4,2,23,False,False,False,False,False
4,GSW,79,33,83,39.8,3,17,17.6,10,12,...,17,25,11,8,20,False,False,False,False,False

### Create Cleaning Function Following Same Steps

In [114]:
def clean_data(csv_file):
    df = pd.read_csv(csv_file)
    
    #set teams
    df['Team1'] = df['Match\xa0Up'].str.split().apply(lambda x: x[0])
    df['Team2'] = df['Match\xa0Up'].str.split().apply(lambda x: x[2])
    
    #delete unused columns
    df.drop(['Unnamed: 0','Season','Match\xa0Up','Game\xa0Date','W/L','MIN'], axis = 1,inplace = True)
    
    #set targets
    df['win_target'] = df['+/-'] > 0
    df['3_win_target'] = df['+/-'] > 3
    df['5_win_target'] = df['+/-'] > 5
    df['7_win_target'] = df['+/-'] > 7
    df['10_win_target'] = df['+/-'] > 10
    
    #drop last unused column
    df.drop(['+/-'],axis = 1,inplace=True)
    
    return df

In [118]:
clean_df = clean_data('nba_games.csv')

In [119]:
clean_df

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,STL,BLK,PF,Team1,Team2,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,MEM,96,42,90,46.7,2,17,11.8,10,12,...,6,12,18,MEM,DET,True,True,True,True,True
1,DEN,107,41,88,46.6,3,23,13.0,22,32,...,10,4,19,DEN,IND,False,False,False,False,False
2,GSW,84,33,77,42.9,3,20,15.0,15,21,...,9,1,20,GSW,MIN,False,False,False,False,False
3,NOP,84,32,89,36.0,3,32,9.4,17,21,...,4,2,23,NOP,DAL,False,False,False,False,False
4,GSW,79,33,83,39.8,3,17,17.6,10,12,...,11,8,20,GSW,ATL,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,HOU,159,55,103,53.4,23,54,42.6,26,33,...,10,5,24,HOU,WAS,True,False,False,False,False
1530,CHA,126,45,88,51.1,23,44,52.3,13,16,...,3,4,18,CHA,CHI,True,False,False,False,False
1531,LAC,128,45,89,50.6,24,54,44.4,14,19,...,6,5,21,LAC,MIA,True,True,True,True,True
1532,DAL,141,48,92,52.2,24,51,47.1,21,21,...,11,7,17,DAL,GSW,True,True,True,True,True
1533,HOU,158,52,89,58.4,25,51,49.0,29,34,...,9,2,23,HOU,ATL,True,True,True,True,True

In [120]:
clean_df.to_csv('clean_nba_games.csv')