# Data Cleaning for Regular Stats

In [1]:
import pandas as pd

In [61]:
df = pd.read_csv('first_half.csv')

### Read Data

In [3]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,UTA,UTA vs. PHX,02/24/2020,NaN,L,24,62,17,33,...,88.0,2,12,14,10,7,7,0,12,0
1,1,MIN,MIN @ DAL,02/24/2020,NaN,L,24,65,22,50,...,85.7,4,15,19,7,6,2,2,11,-16
2,2,WAS,WAS vs. MIL,02/24/2020,NaN,L,24,47,16,43,...,78.6,4,15,19,10,8,5,0,11,-10
3,3,PHX,PHX @ UTA,02/24/2020,NaN,W,24,62,22,37,...,87.5,3,12,15,14,8,2,0,14,0
4,4,HOU,HOU vs. NYK,02/24/2020,NaN,W,24,72,26,43,...,75.0,1,16,17,12,7,2,3,11,15

In [4]:
df.columns

Index(['Unnamed: 0', 'Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN',
       'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
       'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-'],
      dtype='object')

In [5]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,UTA,UTA vs. PHX,02/24/2020,NaN,L,24,62,17,33,...,88.0,2,12,14,10,7,7,0,12,0
1,1,MIN,MIN @ DAL,02/24/2020,NaN,L,24,65,22,50,...,85.7,4,15,19,7,6,2,2,11,-16
2,2,WAS,WAS vs. MIL,02/24/2020,NaN,L,24,47,16,43,...,78.6,4,15,19,10,8,5,0,11,-10
3,3,PHX,PHX @ UTA,02/24/2020,NaN,W,24,62,22,37,...,87.5,3,12,15,14,8,2,0,14,0
4,4,HOU,HOU vs. NYK,02/24/2020,NaN,W,24,72,26,43,...,75.0,1,16,17,12,7,2,3,11,15

In [33]:
df['Team1'] = df['Match\xa0Up'].str.split().apply(lambda x: x[0])
df['Team2'] = df['Match\xa0Up'].str.split().apply(lambda x: x[2])

(df['Team'] == df['Team1']).all()

True

In [7]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,Team1,Team2
0,0,UTA,UTA vs. PHX,02/24/2020,NaN,L,24,62,17,33,...,12,14,10,7,7,0,12,0,UTA,PHX
1,1,MIN,MIN @ DAL,02/24/2020,NaN,L,24,65,22,50,...,15,19,7,6,2,2,11,-16,MIN,DAL
2,2,WAS,WAS vs. MIL,02/24/2020,NaN,L,24,47,16,43,...,15,19,10,8,5,0,11,-10,WAS,MIL
3,3,PHX,PHX @ UTA,02/24/2020,NaN,W,24,62,22,37,...,12,15,14,8,2,0,14,0,PHX,UTA
4,4,HOU,HOU vs. NYK,02/24/2020,NaN,W,24,72,26,43,...,16,17,12,7,2,3,11,15,HOU,NYK

In [8]:
df.columns

Index(['Unnamed: 0', 'Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN',
       'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
       'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-', 'Team1',
       'Team2'],
      dtype='object')

### Get Full Game Stats to set Win Margins

In [62]:
df_game = pd.read_csv('nba_games.csv')

In [63]:
df_game.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,CLE,CLE vs. MIA,02/24/2020,NaN,W,53,125,43,98,...,73.5,14,40,54,25,12,8,6,20,6
1,1,NYK,NYK @ HOU,02/24/2020,NaN,L,48,112,40,91,...,70.0,16,38,54,20,17,12,8,21,-11
2,2,LAC,LAC vs. MEM,02/24/2020,NaN,W,48,124,47,94,...,82.4,11,39,50,33,12,7,5,20,27
3,3,UTA,UTA vs. PHX,02/24/2020,NaN,L,48,111,32,68,...,86.0,5,25,30,16,20,8,2,23,-20
4,4,ATL,ATL @ PHI,02/24/2020,NaN,L,48,112,40,97,...,88.9,14,30,44,19,13,5,2,26,-17

In [64]:
df_game.sort_values(by = ['Game\xa0Date','Match\xa0Up'],inplace = True)

In [65]:
df_game.reset_index(inplace = True,drop = True)

In [66]:
df_game.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,701,LAL,LAL vs. PHX,01/01/2020,NaN,W,48,117,43,90,...,70.6,13,32,45,25,13,9,5,17,10
1,698,MIL,MIL vs. MIN,01/01/2020,NaN,W,48,106,40,94,...,65.4,12,48,60,24,17,4,12,22,2
2,700,MIN,MIN @ MIL,01/01/2020,NaN,L,48,104,34,91,...,75.0,6,42,48,18,12,7,8,25,-2
3,696,NYK,NYK vs. POR,01/01/2020,NaN,W,48,117,47,98,...,64.3,9,46,55,29,7,3,6,14,24
4,699,ORL,ORL @ WAS,01/01/2020,NaN,W,48,122,45,95,...,74.1,11,41,52,25,9,11,6,21,21

In [67]:
df.sort_values(by = ['Game\xa0Date','Match\xa0Up'],inplace = True)
df.reset_index(inplace = True, drop = True)

In [68]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,700,LAL,LAL vs. PHX,01/01/2020,NaN,W,24,74,31,51,...,60.0,7,15,22,21,6,8,4,9,33
1,698,MIL,MIL vs. MIN,01/01/2020,NaN,W,24,52,20,48,...,69.2,5,23,28,12,6,3,7,9,1
2,696,MIN,MIN @ MIL,01/01/2020,NaN,L,24,51,16,47,...,84.6,4,26,30,11,8,3,6,12,-1
3,702,NYK,NYK vs. POR,01/01/2020,NaN,W,24,51,22,51,...,50.0,5,23,28,15,5,0,4,12,3
4,701,ORL,ORL @ WAS,01/01/2020,NaN,W,24,62,23,51,...,100.0,6,16,22,11,4,7,3,11,4

In [69]:
df['End Game +/-'] = df_game['+/-']

In [70]:
df.head()

,Unnamed: 0,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,End Game +/-
0,700,LAL,LAL vs. PHX,01/01/2020,NaN,W,24,74,31,51,...,7,15,22,21,6,8,4,9,33,10
1,698,MIL,MIL vs. MIN,01/01/2020,NaN,W,24,52,20,48,...,5,23,28,12,6,3,7,9,1,2
2,696,MIN,MIN @ MIL,01/01/2020,NaN,L,24,51,16,47,...,4,26,30,11,8,3,6,12,-1,-2
3,702,NYK,NYK vs. POR,01/01/2020,NaN,W,24,51,22,51,...,5,23,28,15,5,0,4,12,3,24
4,701,ORL,ORL @ WAS,01/01/2020,NaN,W,24,62,23,51,...,6,16,22,11,4,7,3,11,4,21

### Drop Unnecessary or Unused Information

In [71]:
df.drop(['Unnamed: 0','Season','Match\xa0Up','Game\xa0Date','W/L','MIN'], axis = 1,inplace = True)

In [72]:
df.columns

Index(['Team', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA',
       'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-',
       'End Game +/-'],
      dtype='object')

In [73]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,End Game +/-
0,LAL,74,31,51,60.8,6,15,40.0,6,10,...,7,15,22,21,6,8,4,9,33,10
1,MIL,52,20,48,41.7,3,14,21.4,9,13,...,5,23,28,12,6,3,7,9,1,2
2,MIN,51,16,47,34.0,8,26,30.8,11,13,...,4,26,30,11,8,3,6,12,-1,-2
3,NYK,51,22,51,43.1,4,14,28.6,3,6,...,5,23,28,15,5,0,4,12,3,24
4,ORL,62,23,51,45.1,8,18,44.4,8,8,...,6,16,22,11,4,7,3,11,4,21

In [74]:
df

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,End Game +/-
0,LAL,74,31,51,60.8,6,15,40.0,6,10,...,7,15,22,21,6,8,4,9,33,10
1,MIL,52,20,48,41.7,3,14,21.4,9,13,...,5,23,28,12,6,3,7,9,1,2
2,MIN,51,16,47,34.0,8,26,30.8,11,13,...,4,26,30,11,8,3,6,12,-1,-2
3,NYK,51,22,51,43.1,4,14,28.6,3,6,...,5,23,28,15,5,0,4,12,3,24
4,ORL,62,23,51,45.1,8,18,44.4,8,8,...,6,16,22,11,4,7,3,11,4,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705,OKC,50,20,49,40.8,2,17,11.8,8,11,...,9,20,29,9,7,2,3,13,-1,5
1706,PHI,43,16,41,39.0,3,15,20.0,8,10,...,6,13,19,13,9,2,2,13,-24,-18
1707,SAC,40,13,39,33.3,2,11,18.2,12,16,...,8,14,22,8,9,5,2,10,-17,-18
1708,SAS,53,21,50,42.0,6,17,35.3,5,8,...,8,22,30,14,3,2,3,10,-2,4
1709,TOR,59,21,42,50.0,10,20,50.0,7,9,...,4,24,28,16,9,1,5,7,16,20

### Set Target for Spreads

In [75]:
df['win_target'] = df['End Game +/-'] > 0
df['3_win_target'] = df['End Game +/-'] > 3
df['5_win_target'] = df['End Game +/-'] > 5
df['7_win_target'] = df['End Game +/-'] > 7
df['10_win_target'] = df['End Game +/-'] > 10

In [76]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,STL,BLK,PF,+/-,End Game +/-,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,LAL,74,31,51,60.8,6,15,40.0,6,10,...,8,4,9,33,10,True,True,True,True,False
1,MIL,52,20,48,41.7,3,14,21.4,9,13,...,3,7,9,1,2,True,False,False,False,False
2,MIN,51,16,47,34.0,8,26,30.8,11,13,...,3,6,12,-1,-2,False,False,False,False,False
3,NYK,51,22,51,43.1,4,14,28.6,3,6,...,0,4,12,3,24,True,True,True,True,True
4,ORL,62,23,51,45.1,8,18,44.4,8,8,...,7,3,11,4,21,True,True,True,True,True

In [77]:
df.drop(['End Game +/-'],axis = 1,inplace=True)

In [78]:
df.head()

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,TOV,STL,BLK,PF,+/-,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,LAL,74,31,51,60.8,6,15,40.0,6,10,...,6,8,4,9,33,True,True,True,True,False
1,MIL,52,20,48,41.7,3,14,21.4,9,13,...,6,3,7,9,1,True,False,False,False,False
2,MIN,51,16,47,34.0,8,26,30.8,11,13,...,8,3,6,12,-1,False,False,False,False,False
3,NYK,51,22,51,43.1,4,14,28.6,3,6,...,5,0,4,12,3,True,True,True,True,True
4,ORL,62,23,51,45.1,8,18,44.4,8,8,...,4,7,3,11,4,True,True,True,True,True

**Save Dataframe**

In [79]:
df.to_csv('halftime_df.csv')

### Create Cleaning Function Following Same Steps

In [17]:
def clean_data(csv_file):
    df = pd.read_csv(csv_file)
    
    #set teams
    df['Team1'] = df['Match\xa0Up'].str.split().apply(lambda x: x[0])
    df['Team2'] = df['Match\xa0Up'].str.split().apply(lambda x: x[2])
    
    #delete unused columns
    df.drop(['Unnamed: 0','Season','Match\xa0Up','Game\xa0Date','W/L','MIN'], axis = 1,inplace = True)
    
    #set targets
    df['win_target'] = df['+/-'] > 0
    df['3_win_target'] = df['+/-'] > 3
    df['5_win_target'] = df['+/-'] > 5
    df['7_win_target'] = df['+/-'] > 7
    df['10_win_target'] = df['+/-'] > 10
    
    #drop last unused column
    df.drop(['+/-'],axis = 1,inplace=True)
    
    return df

In [18]:
clean_df = clean_data('nba_games.csv')

In [19]:
clean_df

,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,STL,BLK,PF,Team1,Team2,win_target,3_win_target,5_win_target,7_win_target,10_win_target
0,LAC,133,46,110,41.8,11,35,31.4,30,37,...,4,10,31,LAC,BOS,False,False,False,False,False
1,NOP,118,42,86,48.8,14,35,40.0,20,27,...,3,7,20,NOP,OKC,False,False,False,False,False
2,BOS,141,45,103,43.7,18,43,41.9,33,40,...,9,6,28,BOS,LAC,True,True,True,True,False
3,OKC,123,46,92,50.0,13,27,48.1,18,22,...,11,5,21,OKC,NOP,True,True,False,False,False
4,ATL,105,36,84,42.9,13,34,38.2,20,25,...,11,5,26,ATL,CLE,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,CHI,125,49,105,46.7,9,30,30.0,18,22,...,11,4,20,CHI,CHA,False,False,False,False,False
1632,LAC,112,42,81,51.9,11,31,35.5,17,24,...,8,5,25,LAC,LAL,True,True,True,True,False
1633,NOP,122,43,102,42.2,19,45,42.2,17,20,...,4,9,34,NOP,TOR,False,False,False,False,False
1634,LAL,102,37,85,43.5,13,33,39.4,15,21,...,4,7,24,LAL,LAC,False,False,False,False,False
1635,TOR,130,42,103,40.8,14,40,35.0,32,38,...,7,3,24,TOR,NOP,True,True,True,True,False

In [20]:
clean_df.to_csv('clean_nba_games.csv')